.cardContainer {
    display: flex;
    max-width: 28vw;
    border-radius: 30rem;
    background-color: bisque;
    margin: 3rem;
    

    .avatar{
        border-radius: 50rem;
    }

    .infoContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }

}